<section class="container">
  <form class="search-form pt-3">
    <mat-form-field class="example-form-field" appearance="fill">
      <input matInput type="text" name="searchTerm" placeholder="Search"
      [ngModel]="searchTerm"
      (ngModelChange)="search($event)">
      <button [disabled]="!searchTerm" [hidden]="!searchTerm" matSuffix mat-icon-button aria-label="Clear"
      (click)="clearSearchInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</section>

