.movie-details {

  img {
    border-radius: .3rem;
    object-fit: cover;
    width: 100%;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .genres{
      display: flex;
    }
  }
}

@media only screen and (max-width: 991px) {
  .movie-details-content {
    margin-top: 1rem;
  }
}

