<div *ngIf="movie" class="container">
  <div class="movie-details row">
    <div class="col-lg-3">
      <img [src]="'/assets/movie-covers/' + movie.img" [alt]="movie.name"/>

    </div>
    <div class="movie-details-content col-lg-9">
      <div>
        <div class="header">
          <h1 class="name">
            {{movie.name}}
          </h1>
        </div>

        <div class="description">
          <span>{{movie.description}}</span>
        </div>

        <div class="ratings mt-3">
          <span>{{movie.rate}} / 10</span>
        </div>

        <div class="length mt-3">
          <span>{{movie.length}}</span>
        </div>

        <ul class="genres mt-3">
          <li *ngFor="let genre of movie.genres">
            <span appTag>{{genre}}</span>
          </li>
        </ul>
      </div>
  </div>
  </div>
</div>
