@import 'src/assets/styles/variables.scss';

a {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid $white;

  .footer {
    padding: 0.3rem .5rem;


    &-content {
      display: grid;
    }

    &-genres{
      display: flex;
    }

    &-title {
      margin-bottom: 0;
    }
  }
}

.item{
  border: 1px solid $white;
}

.item:hover {
  border: 1px solid $primary;
}
